* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dp-primary_dark: #000000;
    --dp-primary-light: #ffffff ;
    --dp-button: #0061fe;
    --dp-background: #b4d0e6;
}

.debug {
     
    header {
        background-color: rgb(255, 255, 255);
        min-height: 50px;
    }

    .central_container {
        background-color: aquamarine;
        min-height: 400px;
    }

    .enterprise {
        background-color: beige;
    }

    .partner {
        background-color: brown;

    }

    .operation {
        background-color: cadetblue;
    }

    .team {
        background-color: darkgreen;
    }

}

/* #region-col */

[class^="col"]
{
    padding: 0 0.5rem;
}

.col {
    width: auto;
    flex-basis: auto;
}  

.col_1 {
    width: calc(100% / 12 * 1)
}

.col_2 {
    width: calc(100% / 12 * 2)
}

.col_3 {
    width: calc(100% / 12 * 3)
}

.col_4 {
    width: calc(100% / 12 * 4)
}

.col_5 {
    width: calc(100% / 12 * 5)
}

.col_6 {
    width: calc(100% / 12 * 6)
}

.col_7 {
    width: calc(100% / 12 * 7)
}

.col_8 {
    width: calc(100% / 12 * 8)
}

.col_9 {
    width: calc(100% / 12 * 9)
}

.col_10 {
    width: calc(100% / 12 * 10)
}

.col_11 {
    width: calc(100% / 12 * 11)
}

.col_12 {
    width: calc(100% / 12 * 12)
}

/* #endregion-col */

nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}

#logo {
    padding-right: 1rem;

    img {
        width: 80%;
    }
}

#right_card {
     
    p {
        font-size: 17px;
        line-height: 22px;
    }
}

#right_nav, #left_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: space-between;

    a {
        color: #000000;
        text-decoration: none;
    }
}

#nav_button {

    padding-left: 2rem;
    
    a {
        text-decoration: none;
        color: #000000;
    }

    .start {
        background-color: var(--dp-button);
        text-align: center;
        color: #ffffff;
        text-decoration: none;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}

.container {
    min-height: 600px;
    background-color: var(--dp-background);
    margin-bottom: 10rem;
}

#jumbotron {
    width: 70%;
    margin: auto;
    padding-top: 3rem;

    h1 {
        font-size: 100px;
    }

    #titol {
        padding-bottom: 3rem;
    }

    #jumbotron_down {
        display: flex;
    }

    #right_card {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .anchor {
            color:black;
            font-size:40px;
            padding-top: 7rem;
        }

        .start {
            width: 60%;
            margin: left;
            background-color: var(--dp-button);
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            padding: 0.5rem 0 0.5rem 0;
        }

        .cancel {
            text-decoration: none;
            color: #000000;
        }

    }

    #left_card {

        margin-bottom: -4rem;

        img {
            width: 100%;
        }
        
}

}

.central_container {
    width: 60%;
    margin: auto;
    
    h1 {
        font-size: 50px;
    }

    .selection {
        text-align: center;
        border: 1px solid grey;
    }

    .column {
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
    }
}

.plan {
    display: flex;
}

#intestaction {
    text-align: center;
}

.enterprise {
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#enterprise_box {
    display: flex;
    justify-content: space-between;
}

.enterprise, #intestaction {
    border: 1px solid grey;
}

.partner {
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 300px;
    display: flex;
}

#partner_image {
    img {
        width:100%;
    }
}

#partner_box {
    padding-left:2rem;
    padding-top: 3rem;
}

.operation {
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 800px;

    #titol {
        font-size: 30px;
        padding-bottom: 3rem;
    }
}

.operation_box {

    display: flex;
    flex-wrap: wrap;

    img {
        width: 100%;
    }
}

.team {
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    min-height: 100px;
}

footer {
    background-color: #000000;
    min-height: 400px;
    color: #ffffff;

    .footer_list {
        display: flex;
        justify-content: space-between;

        ul {
            padding-top: 4rem;
    
        }

        li:first-child {
            font-size: 25px;
            padding-bottom: 1rem;
        }
    

    }


    .footer_box {
        width: 70%;
        margin: auto; 
    }

    li {
        list-style: none;
        padding-bottom: 0.5rem;
        font-size:medium;
    }

    hr {
        width: 150px;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
}